{% extends 'density/model.html' %}
{% load static %}
{% load density_filters %}

{% block prediction_form %}

    <h2>Cálculo da propriedade</h2>

    {% if result %}

        <h1>Massa específica calculada</h1>
            
        <h2 style="color: black; font-weight: normal; text-align: center;">{{ result }} kg/m³</h2>

    {% endif %}

    <div class="form-center">
        <form action="." method="POST">

            {% csrf_token %}
            
            <h2>Parâmetros de entrada</h2>

            <div class="form-center added-compounds">
                <label for="Temperature">
                    Temperatura (K)
                </label>
                <input name="Temperature" type='number' placeholder="0" min="200" step="0.01" required>
                <br>
                <label for="Pressure">
                    Pressão (MPa)
                </label>
                <input name="Pressure" type='number' placeholder="1" min="0.01" step="0.01" required>
                <br>
            </div>

            <input type="submit" value="Calcular massa específica" />
        </form>
    </div>
    <script src="{% static 'assets/js/murnaghan.js' %}"></script>

{% endblock prediction_form %}