{% extends 'base.html' %}
{% load static %}

{% block title %}Density | {{ model.name }}{% endblock title %}

{% block content %}

    <section class="content">
        <div class="responsive-space"></div>
        <h1>{{ model.name }}</h1>

        <h2>About</h2>
        
        {{ model.description|safe }}

        <h2>Equations</h2>
        
        {% with model.equation_set.all as equations %}
        
            {% for equation in equations %}
            
                <img src="{{ equation.equation.url }}" alt="Equation number {{ equation.id }}">

            {% endfor %}
        
        {% endwith %}

        <h2>Graphs</h2>
        
        {% with model.graph_set.all as graphs %}
        
            {% for graph in graphs %}
            
                <img src="{{ graph.image.url }}" alt="{{ graph.label }}">
                <figcaption>{{ graph.label }}</figcaption>

            {% endfor %}
        
        {% endwith %}

        <h2>Predict</h2>

        <p>Insert your parameters to predict the density of your biodiesel:<p>

            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <div class="container-fluid p-0">
                            <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                                {{ message }}
                            </div>
                        </div>
                    {% endfor %}
                </ul>
            {% endif %}
    
        <div class="form-center">
            <form action="." method="POST">

                {% csrf_token %}
                {% for compound in model.compound_set.all %}

                    {% comment %} #TODO: Separate compounds by esther type (make interface cleaner) {% endcomment %}
                    <label for="{{ compound.esther_type }} {{ compound.name }}">
                        {{ compound.esther_type}} {{ compound.name }}
                    </label>
                    <input type='number' min='0' max='100' placeholder='0'
                    name="{{ compound.esther_type }} {{ compound.name }}"><br>

                {% endfor %}

                <input type="submit" value="Predict density">
            </form>
        </div>

        {% if result %}
        
            <h1>Predicted density</h1>
            <h2 style="color: black; font-weight: normal; text-align: center;">{{ result }} kg/m³<h2>
        
        {% endif %}
    
        
    </section>

{% endblock content %}