{% extends 'base.html' %}
{% load static %}

{% block title %}Density | {{ model.name }}{% endblock title %}

{% block content %}

    <section class="content">
        <div class="responsive-space"></div>
        <h1>{{ model.name }}</h1>

        <h2>About</h2>
        
        {{ model.description|safe }}

        <h2>Equations</h2>
        
        {% with model.equation_set.all as equations %}
        
            {% for equation in equations %}
            
                <img src="{{ equation.equation.url }}" alt="Equation number {{ equation.id }}">

            {% endfor %}
        
        {% endwith %}

        <h2>Graphs</h2>
        
        {% with model.graph_set.all as graphs %}
        
            {% for graph in graphs %}
            
                <img src="{{ graph.image.url }}" alt="{{ graph.label }}">
                <figcaption>{{ graph.label }}</figcaption>

            {% endfor %}
        
        {% endwith %}

        <h2>Predict</h2>

        <p>Insert your parameters to predict the density of your biodiesel:<p>
        
        <div class="form-center" style="display: flex; justify-content: center;">
            <div class="form-center" style="display: flex; justify-content: center;">
                <form action="." method="POST">

                    {% csrf_token %}
                    {{ form }}

                    <input type="submit" value="Add">
                </form>
        </div>
        
    </section>

{% endblock content %}