{% extends 'density/model.html' %}
{% load static %}
{% load density_filters %}

{% block prediction_form %}

    <h2>Predict</h2>

    <p>Insert your parameters to predict the density of your biodiesel:<p>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="container-fluid p-0">
                        <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
            </ul>
        {% endif %}

    <div class="form-center">
        <form action="." method="POST">

            {% csrf_token %}
            
            {% if intensive_parameters %}
            
                <h2>Intensive parameters</h2>
            
            {% endif %}

            <div class="form-center">
                {% for parameter in intensive_parameters %}
                
                    <label for="{{ parameter }}">
                        {{ parameter }}
                    </label>
                    <input type='number' min='0' placeholder='0'
                    name="{{ parameter }}">
                
                {% endfor %}
            </div>
            
            <br>
            
            {% if model.compound_set.all %}
            
                <h2>Biodiesel composition</h2>
            
            {% endif %}

            <div class="form-center">
                {% for compound in model.compound_set.all|get_compounds:"FAME" %}

                    <label for="{{ compound.esther_type }} {{ compound.name }}">
                        {{ compound.esther_type}} {{ compound.name }}
                    </label>
                    <input type='number' min='0' max='100' placeholder='0'
                    name="{{ compound.esther_type }} {{ compound.name }}"><br>

                {% endfor %}

                {% comment %} #TODO: Separate esther types {% endcomment %}

                {% for compound in model.compound_set.all|get_compounds:"FAEE" %}

                    <label for="{{ compound.esther_type }} {{ compound.name }}">
                        {{ compound.esther_type}} {{ compound.name }}
                    </label>
                    <input type='number' min='0' max='100' placeholder='0'
                    name="{{ compound.esther_type }} {{ compound.name }}"><br>

                {% endfor %}


                {% for compound in model.compound_set.all|get_compounds:"Glyceride" %}

                    <label for="{{ compound.esther_type }} {{ compound.name }}">
                        {{ compound.esther_type}} {{ compound.name }}
                    </label>
                    <input type='number' min='0' max='100' placeholder='0'
                    name="{{ compound.esther_type }} {{ compound.name }}"><br>

                {% endfor %}
            </div>

            <input type="submit" value="Predict density">
        </form>
    </div>

    {% if result %}

        <h1>Predicted density</h1>
        <h2 style="color: black; font-weight: normal; text-align: center;">{{ result }} kg/m³<h2>

    {% endif %}

{% endblock prediction_form %}