{% extends 'base.html' %}
{% load static %}
{% load home_filters %}

{% block title %}Home{% endblock title %}

{% block content %}

    <section class="content">
        <div class="responsive-space"></div>
        <h1>Simulador Biolab (BLSIM)</h1>
        
        {{ home.intro|safe }}

        <h3><a href="{% url 'density:density' %}">Massa específica</a></h3>
        <ul>

            {% with density_models|get_name:"Murnaghan Equation" as model %}
            
                <li><a href="{% url 'density:murnaghan_equation' %}">{{ model }}</a> - {{ model.brief_description }}</li>

            {% endwith %}
            {% with density_models|get_name:"Chhetri & Watts" as model %}
            
                <li><a href="{% url 'density:chhetri_watts' %}">{{ model }}</a> - {{ model.brief_description }}</li>

            {% endwith %}
            {% with density_models|get_name:"Rackett-Soave Method" as model %}
            
                <li><a href="{% url 'density:rackett_soave' %}">{{ model }}</a> - {{ model.brief_description }}</li>

            {% endwith %}
                
            
        </ul>

        <h3><a href="{% url 'cetaneNumber:cetaneNumber' %}">Número de cetano</a></h3>
        <ul>

            {% with cetane_number_models|get_name:"La Puerta, Rodríguez and Mora" as model %}
            
                <li><a href="{% url 'cetaneNumber:lapuerta_rodriguez' %}">{{ model }}</a> - {{ model.brief_description }}</li>

            {% endwith %}
            {% with cetane_number_models|get_name:"La Puerta, Rodríguez and Mora (somente FAME)" as model %}
            
                <li><a href="{% url 'cetaneNumber:lapuerta_rodriguez_simplified' %}">{{ model }}</a> - {{ model.brief_description }}</li>

            {% endwith %}
            
        </ul>

        <h3><a href="{% url 'pluggingPoint:pluggingPoint' %}">Ponto de entupimento de filtro a frio (CFPP)</a></h3>
        <ul>
            <li><a href="http://google.com" target="_blank">Dados</a> - teste</li>
        </ul>
    </section>
    
{% endblock content %}

{% include 'partial/_footer.html' %}