{% extends 'base.html' %}
{% load static %}
{% load home_filters %}

{% block title %}Home{% endblock title %}

{% block content %}

    <section class="content">
        <div class="responsive-space"></div>
        <h1>Simulador Biolab (BLSIM)</h1>
        
        {{ home.intro|safe }}

        <h3><a href="{% url 'density:density' %}">Massa específica</a></h3>
        <ul>

            {% comment %} #TODO: Add other predictive models to the list once their views are built {% endcomment %}
            {% with density_models|get_name:"Murnaghan Equation" as model %}
            
                <li><a href="{% url 'density:murnaghan_equation' %}">{{ model }}</a> - {{ model.brief_description }}</li>

            {% endwith %}
                
            
        </ul>

        <h3><a href="{% url 'cetaneNumber:cetaneNumber' %}">Número de cetano</a></h3>
        <ul>

            {% comment %} #TODO: Apply same structure used in density {% endcomment %}
            {% for model in cetane_number_models %}
            
                <li><a href="{% url 'cetaneNumber:lapuerta_rodriguez' %}">{{ model.name }}</a> - {{ model.brief_description }}</li>
                
            {% endfor %}
            
        </ul>

        <h3><a href="{% url 'pluggingPoint:pluggingPoint' %}">Ponto de entupimento de filtro a frio (CFPP)</a></h3>
        <ul>

            {% comment %} #TODO: Apply same structure used in density {% endcomment %}
            {% for model in plugging_point_models %}
            
                <li><a href="{% url 'pluggingPoint:su_liu' %}">{{ model.name }}</a> - {{ model.brief_description }}</li>
                
            {% endfor %}
            
        </ul>
    </section>
    
{% endblock content %}

{% include 'partial/_footer.html' %}