{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}

    <section class="content">
        <div class="responsive-space"></div>
        <h1>Biolab Simulator (BLSIM)</h1>
        
        {{ home.intro|safe }}

        <h3><a href="{% url 'density:density' %}">Density</a></h3>
        <ul>

            {% for model in density_models %}
            
                <li><a href="{% url 'density:density_model' name=model.name %}">{{ model.name }}</a> - {{ model.brief_description }}</li>
                
            {% endfor %}
            
        </ul>

        <h3><a href="{% url 'cetaneNumber:cetaneNumber' %}">Cetane Number</a></h3>
        <ul>

            {% for model in cetane_number_models %}
            
                <li><a href="{% url 'cetaneNumber:cetaneNumber_model' name=model.name %}">{{ model.name }}</a> - {{ model.brief_description }}</li>
                
            {% endfor %}
            
        </ul>

        <h3><a href="{% url 'pluggingPoint:pluggingPoint' %}">Cold Filter Plugging Point (CFPP)</a></h3>
        <ul>

            {% for model in plugging_point_models %}
            
                <li><a href="{% url 'pluggingPoint:pluggingPoint_model' name=model.name %}">{{ model.name }}</a> - {{ model.brief_description }}</li>
                
            {% endfor %}
            
        </ul>
    </section>
    
{% endblock content %}

{% include 'partial/_footer.html' %}