.contact {
    overflow-x: hidden;
}

.container {
    width: 100vw;
    overflow-x: hidden;
}

.contact h1 {
    text-align: center;
    color: var(--primary-green);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    margin: 2vh 2vh 2vh 2vh;
}

.grid-container .left-side, .grid-container .right-side {
    text-align: center;
    align-items: center;
    justify-items: center;
}

.grid-container h2 {
    color: var(--primary-green);
}

.grid-container #linkedin {
    height: 98px;
    width: auto;
    margin: 30px;
    margin-top: 61px;
}

.grid-container #gmail {
    height: 98px;
    width: auto;
    margin: 30px;
    margin-top: 61px;
}

.grid-container #profile {
    height: 500px;
    width: auto;
    border-radius: 50%;
}

.grid-container a {
    text-decoration: none;
}

.right-side {
    height: 310px;
    margin-top: 100px;
}

footer {
    background-color: var(--primary-green);
    color: var(--white-color);
    text-align: center;
    margin-top: 50px;
}

footer h3 {
    padding-top: 5px;
    padding-bottom: 5px;
}

@media screen and (max-width: 920px) {
    .grid-container {
        grid-template-columns: auto;
    }

    .right-side {
        margin-top: 50px;
    }

    footer {
        margin-top: 0px;
    }
}