{% extends 'base.html' %}
{% load static %}

{% block title %}Cetane Number{% endblock title %}

{% block content %}

    <section class="content">
        <div class="responsive-space"></div>
        <h1>Número de cetano</h1>
        <h2>Sobre</h2>
        <p>&nbsp; &nbsp; &nbsp; &nbsp; O número de cetano de um combustível representa a qualidade da combustão medida pela sua facilidade de auto-ignição.
            em máquinas que operam de acordo com o ciclo do diesel (FARAH, 2015). Geralmente é determinado comparando-se
            entre as características de combustão do combustível em questão com combustíveis de referência cujos índices de cetano
            são conhecidos em condições normais de operação. Tais referências são 4,4,6,8-heptametilnonano (HMN) e hexadecano,
            cujos números de cetano correspondem a 15 e 100, respectivamente, representando assim componentes de referência ruins e de boa qualidade.</p>
        <p>&nbsp; &nbsp; &nbsp; &nbsp; Portanto, um maior índice de cetano traz benefícios para o funcionamento do motor, entre eles: menor formação de
            depósitos de carbono na câmara de combustão, através de combustão mais completa, aquecimento mais rápido após
            partida em baixas temperaturas, temperaturas de partida da máquina mais baixas e menos estresse nos componentes
            metais cilíndricos (FARAH, 2015).</p>
        <p>&nbsp; &nbsp; &nbsp; &nbsp; Muitos estudos foram realizados para determinar como a estrutura das moléculas componentes do combustível afeta
            seu número de cetano e sabe-se que quanto maior a cadeia carbônica (maior o número de carbonos na molécula),
            quanto maior o seu número de cetano. Além disso, verificou-se que a presença de insaturação na cadeia torna a
            número de cetano do composto a ser reduzido.</p>
        <p>&nbsp; &nbsp; &nbsp; &nbsp; Portanto, vários modelos matemáticos foram desenvolvidos para a predição desta propriedade em ésteres metílicos, atribuindo
            correlações com a inserção do número de carbonos na cadeia e o número de insaturações como insumos para obter o
            valor do número de cetano. Com a previsão desta propriedade para cada componente da mistura, pode-se aplicar uma regra de mistura volumétrica
            determinar a propriedade final da mistura. Existem também modelos que, ao invés de considerar o número de carbonos,
            levar em conta a massa molecular do composto para esta previsão, juntamente com o número de insaturações.
            (RAMÍREZ-VERDUZCO, RODRÍGUEZ-RODRÍGUEZ e JARAMILLO-JACOB, 2012).</p>
        <p>&nbsp; &nbsp; &nbsp; &nbsp; Também foi mostrado na literatura modelos que afirmam uma forte relação entre o número de cetano e outros
            físico-químicas do biodiesel, então foram propostos modelos de previsão baseados em: ponto de ebulição,
            viscosidade, calor de combustão e densidade (FREEDMAN e BAGBY, 1990). Outro jornal com o mesmo objetivo
            apresentou um modelo que baseou a previsão a partir do número de saponificação juntamente com o índice de iodo (AZAM,
            WARIS e NAHAR, 2005).</p>
        <p>&nbsp; &nbsp; &nbsp; &nbsp; Por fim, outra forma proposta na literatura para abordar a previsão do índice de cetano de um biodiesel é
            determinar a propriedade diretamente pela composição do biodiesel, ou seja, a porcentagem em massa de cada tipo de éster
            presentes na mistura (por exemplo: palmítico, oleico, linoleico, etc.), a partir da análise de amostras experimentais com
            o uso de redes neurais artificiais (RNA) e regressões lineares múltiplas (PILOTO-RODRÍGUEZ, SÁNCHEZ-BORROTO,
            et al., 2013).</p>
        <h2>Modelos disponíveis</h2>
        <ul>

            {% for model in predictive_models %}
            
                <li><a href="{% url 'cetaneNumber:cetaneNumber_model' name=model.name %}">{{ model.name }}</a> - {{ model.brief_description }}</li>
                
            {% endfor %}
            
        </ul>
    </section>

{% endblock content %}

