{% extends 'base.html' %}
{% load static %}

{% block title %}Cetane Number{% endblock title %}

{% block content %}

    <section class="content">
        <div class="responsive-space"></div>
        <h1>Cetane Number</h1>
        <h2>About</h2>
        <p>&nbsp; &nbsp; &nbsp; &nbsp; The cetane number of a fuel represents the quality of combustion as measured by its ease of self-ignition.
            in machines that operate according to the diesel cycle (FARAH, 2015). It is usually determined by comparing
            between the combustion characteristics of the fuel in question with reference fuels whose cetane numbers
            are known under standard operating conditions. Such references are 4,4,6,8-heptamethylnonane (HMN) and hexadecane,
            whose cetane numbers correspond to 15 and 100, respectively, thus representing bad reference components and good quality.</p>
        <p>&nbsp; &nbsp; &nbsp; &nbsp; Therefore, a higher cetane number brings benefits to the engine's operation, among them: less formation of
            carbon deposits in the combustion chamber, through more complete combustion, faster heating after
            starting at low temperatures, lower machine starting temperatures and less stress on components
            cylinder metals (FARAH, 2015).</p>
        <p>&nbsp; &nbsp; &nbsp; &nbsp; Many studies have been carried out to determine how the structure of the fuel's component molecules affects
            its cetane number and it is known that the longer the carbon chain (the greater the number of carbons in the molecule),
            the higher its cetane number. Furthermore, it was found that the presence of unsaturation in the chain makes the
            cetane number of the compound to be reduced.</p>
        <p>&nbsp; &nbsp; &nbsp; &nbsp; Therefore, several mathematical models were developed for the prediction of this property in methyl esters, assigning
            correlations with the insertion of the number of carbons in the chain and the number of unsaturations as inputs to obtain the
            cetane number value. With the prediction of this property for each component of the mixture, a volumetric mixing rule can be applied
            to determine the final property of the mixture. There are also models that, instead of considering the number of carbons, 
            take into account the molecular mass of the compound for this prediction, together with the number of unsaturations.
        (RAMÍREZ-VERDUZCO, RODRÍGUEZ-RODRÍGUEZ and JARAMILLO-JACOB, 2012).</p>
        <p>&nbsp; &nbsp; &nbsp; &nbsp; There was also showed in the literature models that claim a strong relationship between cetane number and other
            physicochemical properties of biodiesel, then prediction models were proposed based on: boiling point,
            viscosity, combustion heat and density (FREEDMAN and BAGBY, 1990). Another paper with the same goal
            presented a model that based the prediction from the saponification number together with the iodine index (AZAM,
            WARIS and NAHAR, 2005).</p>
        <p>&nbsp; &nbsp; &nbsp; &nbsp; ALastly, another way proposed in the literature to approach the prediction of the cetane number of a biodiesel is to
            determine the property directly by the biodiesel composition, that is, the mass percentage of each type of ester
            present in the mixture (for example: palmitic, oleic, linoleic, etc.), from the analysis of experimental samples with
            the usage of artificial neural networks (ANN) and multiple linear regressions (PILOTO-RODRÍGUEZ, SÁNCHEZ-BORROTO,
            et al., 2013).</p>
        <h2>Models available</h2>
        <ul>

            {% for model in predictive_models %}
            
                <li><a href="{% url 'cetaneNumber:cetaneNumber_model' name=model.name %}">{{ model.name }}</a> - {{ model.brief_description }}</li>
                
            {% endfor %}
            
        </ul>
    </section>

{% endblock content %}

