{% extends 'cetaneNumber/model.html' %}
{% load static %}

{% block prediction_form %}

    <h2>Predict</h2>

    {% if result %}

        <h1>Predicted cetane number</h1>

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="container-fluid p-0">
                        <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
            </ul>
            {% endif %}
            
        <h2 style="color: black; font-weight: normal; text-align: center;">{{ result }}</h2>

    {% endif %}

    <div class="form-center">
        <form action="." method="POST">
            {% csrf_token %}
            <div class="add-compound add-esther">
                <label for="Add compound to mixture">Add compound to mixture:</label>
                <div>
                    <label for="Esther type">Esther type</label>
                    <select id="Esther type">
                        <option value="2">Ethyl</option>
                        <option value="3">Propyl</option>
                        <option value="4">Butyl</option>
                    </select>
                </div>
                <div>
                    <label for="Carbons number">Number of carbons</label>
                    <input id="carbons-number" type="number" />
                </div>
                <div>
                    <label for="Double bounds">Number of double bounds</label>
                    <input id="double-bounds-number" type="number" />                    
                </div>
                <div onclick="addCompound();" class="add-button">Add</div>
            </div>

            <div class="form-center added-compounds"></div>

            <input type="submit" value="Predict cetane number" />
        </form>
    </div>
    <script src="{% static 'assets/js/lapuertaRodriguez.js' %}"></script>

{% endblock prediction_form %}