{% load static %}

<!DOCTYPE html>
<html lang="pt-br" style="scroll-behavior: smooth;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/1060/1060998.png">
    <link rel="stylesheet" href="static/assets/CSS/variables.css">
    <link rel="stylesheet" href="static/assets/CSS/navbar.css">
    <link rel="stylesheet" href="static/assets/CSS/content.css">
    <link rel="stylesheet" href="static/assets/CSS/elements.css">
    <link rel="stylesheet" href="static/assets/CSS/footer.css">
    <link rel="stylesheet" href="static/assets/CSS/prediction_form.css">
    <script type="module" src="/assets/js/navbar.js"></script>
    <title>
        BLSIM | {% block title %}{% endblock title %}
    </title>
</head>
<body>

    {% include 'partial/_navbar.html' %}

    {% block content %}{% endblock content %}

    {% url 'home:contact' as contact_url %}
    {% if request.path == contact_url %}
    
        {% include 'partial/_contact.html' %}

    {% else %}

        {% include 'partial/_footer.html' %}

    {% endif %}
    
</body>
</html>