{% load static %}

<div class="responsive-space"></div>
<section class="contact">
    <div class="container">
        <h1>Entre em contato</h1>
    </div>
    <div class="grid-container">
        <div class="left-side">
            <img src="../static/assets/img/my_picture.jpeg" id="profile"
            alt="A picture of Gabriel Salateo Rosin, the sites' creator">
        </div>
        <div class="right-side">
            <h2>Gabriel Salateo Rosin</h2>
            <a href="https://www.linkedin.com/in/gabriel-rosin/"
            target="_blank" rel="noopener noreferrer">
                <img src="../static/assets/img/linkedin.png" alt="LinkedIn logo" id="linkedin">
            </a>
            {% comment %} <a href="mailto:gabriel.s.rosin@gmail.com?subject=Contact about BLSIM"
            target="_blank" rel="noopener noreferrer">
                <img src="../static/assets/img/gmail.png" alt="Gmail logo" id="gmail">
            </a> {% endcomment %}
        </div>
    </div>
</section>