
.responsive-space {
    height: 70px;
}

.content h1 {
    margin: 2vh 5vw 2vh 5vw;
    color: var(--primary-green);
    text-align: center;
}

.content h2 {
    margin: 2vh 5vw 2vh 5vw;
    color: var(--primary-green);
}

.content h3 {
    margin: 2vh 5vw 2vh 8vw;
    color: var(--primary-green);
}

.content p {
    margin: 0px 5vw 0px 5vw;
}

.content ul {
    list-style:none;
}

.content li {
    margin: 2vh 5vw 2vh 12vw;
}

.content a {
    color: inherit;
    text-decoration-color: var(--primary-green);
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

.content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    width: 80%;
    height: auto;
    margin-top: 2rem;
}

.content figcaption {
    text-align: center;
    margin-bottom: 2rem;
}